*.log

.tmux/plugins/*
!.tmux/plugins/tpm

.config/nvim/backups/*
.config/nvim/plugged/*
.config/nvim/spell/*
.config/nvim/.netrwhist
.config/nvim/tmp.rst

.config/ranger/history
.config/ranger/bookmarks
.config/ranger/tagged

*.swp

*.secret

__pycache__
*.pyc
