@import "common.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
}

window {
    width:      			300px;
    padding:    			25px;
    border:					0px;
    border-radius:          0px;
    border-color:           @selected;
    anchor:                 East;
    location:               East;
    x-offset:               -11px;
}

entry {
    expand: 				true;
    width: 					150px;
    text-color:				@foreground;
}

